body{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

.flex-container {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}

.one, .two, .three, .four, .five, .six, .seven{
	opacity: 0.85;
	border: 2px solid cyan;
	padding: 5px;
	box-sizing: border-box;
}

.one{
	background: #fdfae9;
	width: 327px;
	min-width: 327px;
	text-align: center;
}

.two{
	background: #f2f0e4;
	width: 100%;
	text-align: right; 
}

.three{
	background: #f8d8af;
	width: 35%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.four{
	background: #efe7d0;
	width: 65%;
}

.five{
	background: #f4e5bc;
	width: 65%;
}

.six{
	background: #fee2cd;
	width: 35%;
	text-align: center;	

}

.seven{
	background: #fbdae5;
	width: 100%;
	text-align: left;
}

img{
	box-sizing: border-box;
	width: 100%;
	box-shadow: 0 10px 20px rgba(0,0,0,0.2), 0 6px 6px rgba(0,0,0,0.2);
}

.line1, .line2, .line3, .line4, .center{
	display:flex;
	flex-direction: row;
	justify-content: space-around;
}

@media screen and (max-width: 860px){
	.line1{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column; 
		min-width: 327px;
	}
}
@media screen and (max-width: 1000px){
	.line2, .line3, .line4{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		min-width: 327px;
	}

	.one{
		max-width: 327px;
	}

	.center{
		display:flex;
     	align-items: center;
	}

	img{ 
		width: 50%;
	}

	.line1 .one, .line1 .two, .line2 .three, .line2 .four, .line3 .five, .line3 .six, .line4 .seven{
		width: 100%;
		border-radius: 8px;
		margin-top: 8px;
		margin-right: 8px;
	}
}

.one:hover, .two:hover, .three:hover, .four:hover, .five:hover, .six:hover, .seven:hover{
	opacity: 1;
}
